# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# lock
package-lock.json
yarn.lock

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Sys
.DS_STORE
.idea

# build
lib
es
dist
build
site-dist

# coverage
coverage

# dumi
.umi
.umi-production

# analysis
stats.html
