// default channel encodings

@value-color: #2797fe;
@dim-color: #f0f0f0;
@negative-color: #30bf78;
@positive-color: #f4664a;
@contribution-color: #722ed1;

.@{ntv-prefix}-value {
  display: flex;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  color: #404040;
  font-family: Roboto-Medium, sans-serif;
  line-height: 1.5em;
  border-radius: 2px;

  &.@{ntv-prefix}-metric-name {
    font-weight: bold;
  }

  &.@{ntv-prefix}-metric-value {
    color: @value-color;
  }

  &.@{ntv-prefix}-other-metric-value {
    font-weight: bold;
  }

  &.@{ntv-prefix}-contribute-ratio {
    color: @contribution-color;
  }

  &.@{ntv-prefix}-value-positive {
    color: @positive-color;
  }

  &.@{ntv-prefix}-value-negative {
    color: @negative-color;
  }

  // &.@{ntv-prefix}-trend-desc {
  // color: #000;
  // }

  &.@{ntv-prefix}-dim-value {
    color: #000;
    text-decoration: underline;
  }

  &.@{ntv-prefix}-time-desc {
    text-decoration: underline;
  }
}
