@import './var.less';

.@{ntv-prefix}-value {
  display: flex;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  color: #404040;
  font-size: @ntv-font-size;
  font-family: Roboto-Medium, sans-serif;
  line-height: 1.5em;
  border-radius: 2px;

  &.@{ntv-prefix}-metric-name {
    font-weight: bold;
  }

  &.@{ntv-prefix}-metric-value {
    color: @ntv-value-color;
  }

  &.@{ntv-prefix}-other-metric-value {
    font-weight: bold;
  }

  &.@{ntv-prefix}-contribute-ratio {
    color: @ntv-contribution-color;
  }

  &.@{ntv-prefix}-value-positive {
    color: @ntv-positive-color;
  }

  &.@{ntv-prefix}-value-negative {
    color: @ntv-negative-color;
  }

  &.@{ntv-prefix}-dim-value {
    color: #000;
    text-decoration: underline;
  }

  &.@{ntv-prefix}-time-desc {
    text-decoration: underline;
  }
}
