@font-color: #505659;

.@{ntv-prefix}-headline {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.@{ntv-prefix}-p,
.@{ntv-prefix}-li {
  color: @font-color;
  font-size: 15px;
  line-height: 1.8em;
}
