@import './var.less';

.@{ntv-prefix}-container {
  font-family: PingFangSC-Regular, sans-serif;

  section {
    font-family: PingFangSC-Regular, sans-serif;
  }

  p,
  li {
    color: @ntv-font-color;
    font-size: @ntv-font-size;
    font-family: PingFangSC-Regular, sans-serif;
    line-height: 1.8em;
  }

  p {
    margin-bottom: 0.2em;
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  ul ul {
    list-style-position: inside;
    list-style-type: circle;
  }

  ol ol {
    list-style-position: inside;
    list-style-type: lower-latin;
  }

  ul li,
  ol li {
    list-style: inherit;
  }
}

.@{ntv-prefix}-headline {
  font-family: PingFangSC-Medium, sans-serif;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.@{ntv-prefix}-section,
.@{ntv-prefix}-p,
.@{ntv-prefix}-ul,
.@{ntv-prefix}-ol {
  color: @ntv-font-color;
  font-size: @ntv-font-size;
  font-family: PingFangSC-Regular, sans-serif;

  li {
    font-size: @ntv-font-size;
  }
}
